.login-pf body {
    background: none;
}

#kc-header-wrapper {
    text-transform: none;
}

div.kc-logo-text {
    background-image: url(../img/infra-workshop-logo.jpg);
    background-position: center;
    background-size: 300px;
    height: 300px;
}

.card-pf {
    background: #efefef;
}
